body {
    margin: 0px;
}

/* Head container */

.navbar_logo {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    color: #983D53;
    text-align: center;
    margin: 0 80px;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}

ul {
    list-style-type: none;
    margin: auto;
    width: 90%;
    padding: 15px;
    overflow: hidden;
    background-color: #DEACAE;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
}

li {
    float: left;
}

li a {
    display: block;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: #983D53;
    text-align: center;
    margin: 0 20px;
    padding: 33px 16px;
    text-decoration: none;
}

/* Title */

.t1 {
    color: #983D53;
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    padding-top: 90px;
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;

}

/* Container */

.image1 {
    max-width: 100%;
    height: 300px;
    width: 300px;
    margin-top: -160px;
    position: absolute;
    right: 200px;
    filter: drop-shadow(-18px 0px 3px #000000);
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.image2 {
    max-width: 100%;
    height: 300px;
    width: 680px;
    float: left;
    margin-top: -60px;
    position: absolute;
    top: 100px;
    left: 10%;
}

.t2 {
    text-align: center;
    color: #983D53;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    position: absolute;
    top: 150px;
    left: 50%;
}

.t3 {
    text-align: center;
    color: #983D53;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    position: absolute;
    top: 230px;
    left: 50%;
}

.center {
    font-family: 'Times New Roman', Times, serif;
    color: #983D53;
    margin-left: 200px;
    margin-right: 200px;
    position: absolute;
    top: 300px;
}

p {
    text-align: justify;
    font-size: 30px;
    text-indent: 50%;
}

.image3 {
    height: 100%;
    width: 90%;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 0px;
}

/* footer */

.foot_container {
    list-style-type: none;
    margin-top: 30px;
    padding: 30px;
    overflow: hidden;
    background-color: #DEACAE;
}

.t4 {
    text-align: center;
    color: #983D53;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}